---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/lists/5491423900c84e5e806860b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TRELLO_KEY>", oauth_nonce="e708b7ce77844771493fc5a61e06a461",
        oauth_signature="%2F4Ww5zRYDgrZ2gIkUpXNrRQB56g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1418806129", oauth_token="<TEST_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.268.2
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1418806130063'
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-151523217-151445384 PNNN RT(1418806128904 108) q(0 0 0 -1) r(3 3) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: "{\"id\":\"5491423900c84e5e806860b4\",\"name\":\"Test (0)\",\"closed\":false,\"idBoard\":\"50eda21570cb352222003326\",\"pos\":8192}"
  recorded_at: Wed, 17 Dec 2014 08:48:50 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/5491423900c84e5e806860b4/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TRELLO_KEY>", oauth_nonce="d46509ecfa674c8f72626223eb7fcb2d",
        oauth_signature="gBj%2Bdb0V4IlQSQ2mF78fW6iP8r0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1418806130", oauth_token="<TEST_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.268.2
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1418806131069'
      Content-Type:
      - application/json
      X-Iinfo:
      - 8-125375531-125372098 PNNN RT(1418806130191 72) q(0 0 0 -1) r(1 1) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: "[{\"id\":\"549140be6e5bc7b6537f3e3d\",\"checkItemStates\":[],\"closed\":false,\"dateLastActivity\":\"2014-12-17T08:43:50.998Z\",\"desc\":\"\",\"descData\":null,\"email\":null,\"idBoard\":\"50eda21570cb352222003326\",\"idList\":\"5491423900c84e5e806860b4\",\"idMembersVoted\":[],\"idShort\":2357,\"idAttachmentCover\":null,\"manualCoverAttachment\":false,\"idLabels\":[],\"name\":\"1
        - test card\",\"pos\":25980416,\"shortLink\":\"yRPdNVgl\",\"badges\":{\"votes\":0,\"viewingMemberVoted\":false,\"subscribed\":false,\"fogbugz\":\"\",\"checkItems\":0,\"checkItemsChecked\":0,\"comments\":0,\"attachments\":0,\"description\":false,\"due\":null},\"due\":null,\"idChecklists\":[],\"idMembers\":[],\"labels\":[],\"shortUrl\":\"https://trello.com/c/yRPdNVgl\",\"subscribed\":false,\"url\":\"https://trello.com/c/yRPdNVgl/2357-1-test-card\"}]"
  recorded_at: Wed, 17 Dec 2014 08:48:51 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/5491423900c84e5e806860b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TRELLO_KEY>", oauth_nonce="1ca28582b984900424ddbaf1fdd4801b",
        oauth_signature="UUstgJPhxQ0YorFRtu7tZ7OIu3k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1418806131", oauth_token="<TEST_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.268.2
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1418806131651'
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-151523599-151521002 PNNN RT(1418806130753 92) q(0 0 0 -1) r(1 1) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: "{\"id\":\"5491423900c84e5e806860b4\",\"name\":\"Test (1)\",\"closed\":false,\"idBoard\":\"50eda21570cb352222003326\",\"pos\":8192}"
  recorded_at: Wed, 17 Dec 2014 08:48:51 GMT
recorded_with: VCR 2.9.3
